.recipe-list {
  float: left;
  background: lightgray;
  border: solid black 1px;
  padding: 20px;
}

.recipe-view {
  float: left;
  padding: 10px;
}

h1 {
  background: lightgreen;
  padding: 10px;
}

.recipe-photo {
  float: left;
}

.recipe-photo img {
  height: 300px;
}