<!doctype html>
<html ng-app="cookbookApp">
<head>
  <title>Cookbook</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/cookbook.js"></script>
</head>
<body ng-controller="CookbookCtrl">
  <h1>Cookbook</h1>
  <div class="recipe-list">
    <ul>
      <li ng-repeat="recipe in recipes"><a href="#" ng-click="view(recipe.file, recipe.name)">{{recipe.name}}</a></li>
    </ul>
  </div>
  <div class="recipe-view" ng-if="recipe">
    <h2>{{name}}</h2>
    <ul>
      <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.amount}} {{ingredient.units}} {{ingredient.name}}</li>
    </ul>
    {{recipe.instructions}}
  </div>
</body>
</html>